services:
  sender:
    build:
      dockerfile: Dockerfile
      context: .
    image: ubuntu-xdp
    container_name: sender
    command: [ "sh", "-c", "sleep infinity" ]
    volumes:
      - ./1000mb.txt:/app/1000mb.txt
      - ./sender_udp.cpp:/app/sender_udp.cpp
      - ./sender_tcp.cpp:/app/sender_tcp.cpp
    networks:
      xdp_net:
        ipv4_address: 172.22.0.100

  receiver:
    build:
      dockerfile: Dockerfile
      context: .
    image: ubuntu-xdp
    container_name: receiver
    command: [ "sh", "-c", "sleep infinity" ]
    volumes:
      - ./1000mb.txt:/app/1000mb.txt
      - ./receiver_udp.cpp:/app/receiver_udp.cpp
      - ./receiver_tcp.cpp:/app/receiver_tcp.cpp
    networks:
      xdp_net:
        ipv4_address: 172.22.0.101

networks:
  xdp_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.22.0.0/16
